<?xml version="1.0" encoding="UTF-8"?>

<Installer>
<Name>RNote</Name>
<Version>1.0.1</Version>
<Title>RNote Installer</Title>
<Publisher>RSoft</Publisher>
<InstallerWindowIcon>GNU</InstallerWindowIcon>
<InstallerApplicationIcon>GNU</InstallerApplicationIcon>
<Logo>GNU</Logo>
<WizardStyle>Mac</WizardStyle>
<Background>Bg</Background>
<StartMenuDir>RNote</StartMenuDir>
<TargetDir>@HomeDir@/RNote</TargetDir>
</Installer>